/** 
	* Filename:     global.css
	* Version:      1.0.0 (2016-11-15)
	* Website:      http://www.zymphonies.com
	* Description:  Global Styles
	* Author:		support Team
					support@zymphonies.com
**/
@font-face {
  font-family: 'Alata-Regular';
  src: url("../assets/fonts/Alata-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'SofiaPro-Bold';
  src: url("../assets/fonts/SofiaProBold.ttf") format("truetype"); }

@font-face {
  font-family: 'SofiaPro-Light';
  src: url("../assets/fonts/SofiaProLight.ttf") format("truetype"); }

@font-face {
  font-family: 'SofiaPro-ExtraLight';
  src: url("../assets/fonts/SofiaProExtraLight.ttf") format("truetype"); }

@font-face {
  font-family: 'SofiaPro-SemiBold';
  src: url("../assets/fonts/SofiaProSemiBold.ttf") format("truetype"); }

@font-face {
  font-family: 'SofiaPro-Regular';
  src: url("../assets/fonts/SofiaProRegular.ttf") format("truetype"); }

.region-header {
	background-color: red;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}